<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ru.webcentrum.wmd_access.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>ru.webcentrum.wmd_access.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/servlets/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>ru.webcentrum.wmd_post.SendEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/servlets/sendEmail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WriteNote</servlet-name>
        <servlet-class>ru.webcentrum.wmd_notes.WriteNote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriteNote</servlet-name>
        <url-pattern>/servlets/writeNote</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetterBodyNoteAjax</servlet-name>
        <servlet-class>ru.webcentrum.wmd_notes.GetterBodyNoteAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetterBodyNoteAjax</servlet-name>
        <url-pattern>/servlets/getterBodyNoteAjax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteNote</servlet-name>
        <servlet-class>ru.webcentrum.wmd_notes.DeleteNote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteNote</servlet-name>
        <url-pattern>/servlets/deleteNote</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCredit</servlet-name>
        <servlet-class>ru.webcentrum.wmd_credits.AddCredit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCredit</servlet-name>
        <url-pattern>/servlets/addCredit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetterValueCreditAjax</servlet-name>
        <servlet-class>ru.webcentrum.wmd_credits.GetterValueCreditAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetterValueCreditAjax</servlet-name>
        <url-pattern>/servlets/getterValueCreditAjax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCredit</servlet-name>
        <servlet-class>ru.webcentrum.wmd_credits.DeleteCredit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCredit</servlet-name>
        <url-pattern>/servlets/deleteCredit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCredit</servlet-name>
        <servlet-class>ru.webcentrum.wmd_credits.UpdateCredit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCredit</servlet-name>
        <url-pattern>/servlets/updateCredit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CalculateTotalAjax</servlet-name>
        <servlet-class>ru.webcentrum.wmd_calculations.CalculateTotalAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculateTotalAjax</servlet-name>
        <url-pattern>/servlets/calculateTotalAjax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportCredits</servlet-name>
        <servlet-class>ru.webcentrum.wmd_credits.ExportCredits</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportCredits</servlet-name>
        <url-pattern>/servlets/exportCredits</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CalculatorAjax</servlet-name>
        <servlet-class>ru.webcentrum.wmd_calculator.CalculatorAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculatorAjax</servlet-name>
        <url-pattern>/calculatorAjax</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FeedBack</servlet-name>
        <servlet-class>ru.webcentrum.wmd_post.FeedBack</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedBack</servlet-name>
        <url-pattern>/feedBack</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Exit</servlet-name>
        <servlet-class>ru.webcentrum.wmd_access.Exit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exit</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>StatusRecalculationCRON</servlet-name>
        <servlet-class>ru.webcentrum.wmd_credits.StatusRecalculationCRON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatusRecalculationCRON</servlet-name>
        <url-pattern>/statusRecalculateCRON</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TimerServlet</servlet-name>
        <servlet-class>ru.webcentrum.wmd_credits.TimerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <filter>
        <filter-name>Access</filter-name>
        <filter-class>ru.webcentrum.wmd_access.Access</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Access</filter-name>
        <url-pattern>/cabinet/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Access</filter-name>
        <url-pattern>/servlets/*</url-pattern>
    </filter-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
