html,body,#wrapper,#content
{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0px;
    height: 100%;
    width: 100%;
}

html
{
    background: #EEEEEE url(/WMD/images/background/base.jpg);
}

body
{
    background-color: #EEEEEE;
    background: url(/WMD/images/background/mainbg.gif) no-repeat center center fixed;

    /*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

#wrapper
{
    position: relative;
    top: 0;
    left: 0;
}

#content
{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    background: #EEEEEE url(/WMD/images/background/base.jpg);
    overflow: auto;
    text-align: center;
    

    /*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);*/
    /*
    filter:alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;
    */

    /* Для центрирования по вертикали
    display: table;
    */
}

/* Для центрирования по вертикали
#content-content
{
    position:relative;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
*/

#filler
{
    width: 100%;
    height: 50px;
}

a
{
    text-decoration: none;
}

a:link
{
    color: #0000FF;
}

a:visited
{
    color: #0000FF;
}

a:hover
{
    color: #E56F03;
}

a:active
{
    color: #E56F03;
}

.error
{
    color: #FF0000;
}

.warning
{
    color: #E56F03;
}

.info
{
    color: #008000;
}

.wrapHeader
{
    font-weight: bold;
    background-color: #0088FF;
    color: #FFFFFF;
}

.grayTableWrapper
{
    border: 1px double #000000;
    background-color: #CCCCCC;
}

.whiteTableWrapper
{
    border: 1px double #000000;
    background-color: #FFFFFF;
}

th
{
    text-align: center;
}

.wrapFormElement
{
    background-color: #DDDDDD;
}

.toLeft
{
    text-align: left;
}

.toRight
{
    text-align: right;
}

.toCenter
{
    text-align: center;
}
